# .env.example

# MongoDB connection string
MONGODB_URI=

# JWT secret key
JWT_SECRET=

# Application port
PORT=

# Environment (development, production, etc.)
NODE_ENV=

# React API URL
REACT_APP_API_URL=